# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Learn about Jupter
- Learn about Github
- Explore data science
-  Understanding data science

Some of the popular languages that Data Scientists use are:
1. C++
2. Python
3. Java
4. Ruby
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda 
2. Matlab
3. Ploty

| Data Science Tools |
| ------------------ |
| Python             |
| PyTourch           |
| Matlab             |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
x= 200  #200 minutes
y= 60  #1 hour = 60 minutes
x/y

3.3333333333333335

## Author

Farah Khaled Ali AlKhuzam